# Python caches
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Editor files
# (Jos haluat jakaa workspace-asetukset, älä lisää .vscode-kansiota .gitignoreen.)

# Byte-compiled / distribution
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db
